.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-size: fill;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../img/Confetti-Doodles.svg');
  min-height: 100%;
}

*{
  transition: 0.5s ease;
}
body,h1 {font-family: 'Montserrat', sans-serif;
}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

.lucky{
  font-family: 'Luckiest Guy', cursive;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}

.navs{
  border-radius: 20px 20px 0px 20px;
  padding: 10px 25px !important;
}


.navs:hover{
  background:rgb(0, 0, 161) !important;
  color: white !important;
  border: none !important;
}

.c-u-soon{
border: 2px solid white;
border-radius: 32px 35px 0px 33px;
width: fit-content;
padding: 0px 10px 5px 20px;
color: black;
background: white;
}

.c-u-soon:hover{
background: white;
}

.soon{
margin: 50px 0px 50px 0px;
padding: 20px;
}

.w3-animate-opacity{
  animation-duration: 0.7s;
}

body {
font-family: sans-serif;
background: #f2f2f2;
}
.gallery-img {
width: 100%; /* need to overwrite inline dimensions */
object-fit: cover;

}
h2 {
margin-bottom: .5em;
}
.grid-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
grid-gap: 1em;
}


/* hover styles */
.location-listing {
position: relative;
}

.location-image {
line-height: 0;
overflow: hidden;
}

.location-image img {
filter: blur(0px);
transition: filter 0.3s ease-in;
transform: scale(1.1);
}

.location-title {
font-size: 1em;
text-decoration: none;
z-index: 1;
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
text-align: center;
opacity: 0;
transition: opacity .5s;
background: rgba(90,0,10,0.4);
color: white;

/* position the text in t’ middle*/
display: flex;
align-items: center;
justify-content: center;
}

.location-listing:hover .location-title {
opacity: 1;
}

.location-listing:hover .location-image img {
filter: blur(2px);
}

@media only screen and (max-width: 600px) {
.gallery-img {
width: 100%; /* need to overwrite inline dimensions */
object-fit: contain;

}
}